[submodule "api/leapfrogai-api"]
	path = api/leapfrogai-api
	url = git@github.com:defenseunicorns/leapfrogai-api.git
	branch = main
[submodule "frontend/leapfrog-ui"]
	path = frontend/leapfrog-ui
	url = git@github.com:defenseunicorns/leapfrog-ui.git
	branch = main
[submodule "backend/leapfrogai-backend-ctransformers"]
	path = backend/leapfrogai-backend-ctransformers
	url = git@github.com:defenseunicorns/leapfrogai-backend-ctransformers.git
	branch = main
