[submodule "backend/leapfrogai-backend-ctransformers"]
	path = backend/leapfrogai-backend-ctransformers
	url = git@github.com:defenseunicorns/leapfrogai-backend-ctransformers.git
[submodule "api/leapfrogai-api"]
	path = api/leapfrogai-api
	url = git@github.com:defenseunicorns/leapfrogai-api.git
