# Documentation and fallbacks for missed things
* @defenseunicorns/leapfrogai
*.md @defenseunicorns/leapfrogai 

# Core Code
/api/ @defenseunicorns/leapfrogai
/backend/ @defenseunicorns/leapfrogai
/frontend/ @defenseunicorns/leapfrogai

# Packaging
/recipes/ @defenseunicorns/leapfrogai

# Pipeline and Project Files
/Makefile @defenseunicorns/leapfrogai
/.github/ @defenseunicorns/leapfrogai
/.gitmodules @defenseunicorns/leapfrogai


# Additional privileged files
/CODEOWNERS @jeff-mccoy @austenbryan @gerred
/LICENSE @jeff-mccoy @austenbryan @gerred