# Documentation and fallbacks for missed things
* @defenseunicorns/leapfrogai
*.md @defenseunicorns/leapfrogai 

# Core Code
/api/ @gerred @YrrepNoj @gphorvath
/backend/ @gerred @YrrepNoj @gphorvath
/frontend/ @gerred @YrrepNoj @gphorvath

# Packaging
/recipes/ @gerred @YrrepNoj @gphorvath

# Pipeline and Project Files
/Makefile @gerred @YrrepNoj @gphorvath
/.github/ @gerred @YrrepNoj @gphorvath
/.gitmodules @gerred @YrrepNoj @gphorvath


# Additional privileged files
/CODEOWNERS @jeff-mccoy @mikevanhemert @austenbryan @gerred
/LICENSE @jeff-mccoy @austenbryan @gerred